@font-face {
  font-family: "Incompleeta";
  src: local("Incompleeta Light"), local("Incompleeta-Light"),
    url("../../fonts/IncompleetaLight.woff2") format("woff2"),
    url("../../fonts/IncompleetaLight.woff") format("woff"),
    url("../../fonts/IncompleetaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.page {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.logo {
  font-family: "Incompleeta";
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  @media (width < 500px) {
    width: 250px;
    font-size: 2rem;
  }
}

.podLogo {
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

.pageTitle {
  font-size: 32px;
  //font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  @media (width < 1200px) {
    width: 900px;
  }
  @media (width < 900px) {
    width: 600px;
    padding-top: 200px;
  }
  @media (width < 600px) {
    width: 250px;
  }
}

.flexForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.inputContainer {
  flex: 1 1 300px;
  text-align: center;
}
