.methodTitle {
  font-size: 18px;
}

.stage {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70px;
  align-items: end;
  justify-content: space-between;
  gap: 20px;

  &Title {
    flex: 0 0 200px;
    text-align: center;
  }
  &Temperature {
    flex: 1 0 150px;
    text-align: center;
  }
  &Time {
    flex: 1 0 150px;
    text-align: center;
  }
  &Shaking {
    flex: 1 0 150px;
    text-align: center;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-content: center;
  .button {
    max-width: 350px;
    flex: 0 1 350px;
    .buttonStart {
    }
  }
}
