.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100px;
  cursor: pointer;
  opacity: 0.7;
  padding-bottom: 30px;

  .addMetod {
    flex: 1 1 60px;
    height: 100%;
    background-image: url("./Images/addMetod2.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .editMetod {
    flex: 1 1 60px;
    height: 100%;
    background-image: url("./Images/editMetod2.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .startMetod {
    flex: 1 1 60px;
    height: 100%;
    background-image: url("./Images/startMetod2.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .history {
    flex: 1 1 60px;
    height: 100%;
    background-image: url("./Images/historyMetod2.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .user {
    flex: 1 1 60px;
    height: 100%;
    background-image: url("./Images/user2.png");
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
