* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Links */
  /* Common */
  /* Form */
  font-family: Arial, Helvetica, sans-serif;
}
:root a,
:root a:link,
:root a:visited {
  text-decoration: none;
}
:root a:hover {
  text-decoration: none;
}
:root aside,
:root nav,
:root footer,
:root header,
:root section,
:root main {
  display: block;
}
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6,
:root p {
  font-size: inherit;
  font-weight: inherit;
}
:root ul,
:root ul li {
  list-style: none;
}
:root img {
  vertical-align: top;
}
:root img,
:root svg {
  max-width: 100%;
  height: auto;
}
:root address {
  font-style: normal;
}
:root input,
:root textarea,
:root button,
:root select {
  color: inherit;
  background-color: transparent;
}
:root input::-ms-clear {
  display: none;
}
:root button,
:root input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
:root button {
  padding-right: 25px;
  padding-left: 25px;
}
:root input:focus,
:root input:active,
:root button:focus,
:root button:active {
  outline: none;
}
:root button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:root label {
  cursor: pointer;
}
:root legend {
  display: block;
}