@font-face {
    font-family: 'Incompleeta';
    src: local('Incompleeta Light'), local('Incompleeta-Light'),
        url('../../fonts/IncompleetaLight.woff2') format('woff2'),
        url('../../fonts/IncompleetaLight.woff') format('woff'),
        url('../../fonts/IncompleetaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.section {
    --background: #ffffff;
    --color: #171717;
    --antiColor: #ffeaea;
    --highColor: #cf2069;
    --silver: #707070;
    --textSize: 25px;

    background-color: var(--background);
    .logo, p{
        color: var(--color);
        span{
            color: var(--highColor);
        }
    }
    .podLogo{
        color: var(--color);
    }
    input{
        height: 50px;
        margin-top: 25px;
        padding-left: 15px;
        line-height: 50px;
        border-bottom: var(--highColor) solid 2px;
        border-radius: 15px;
        background-color: var(--antiColor);
        color: var(--color);
        font-size: var(--textSize);
        font-family: 'Courier New', Courier, monospace;
    }
    .inputRange{
        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 350px;
            border: none;
            margin: 20px auto;
            padding-left: 0px;
          }
          
          /* Removes default focus */
          input[type="range"]:focus {
            outline: none;
          }
          /******** Chrome, Safari, Opera and Edge Chromium styles ********/
            /* slider track */
            input[type="range"]::-webkit-slider-runnable-track {
                background-color: var(--antiColor);
                opacity: 1;
                border-radius: 5px;
                height: 5px;
            }
            
            /* slider thumb */
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                margin-top: -4px; /* Centers thumb on the track */
                background-color: var(--highColor);
                border-radius: 7px;
                height: 15px;
                width: 15px;
                opacity: 1;
            }
            
            input[type="range"]:focus::-webkit-slider-thumb {
                outline: 3px solid var(--antiColor);
                outline-offset: 0.125rem;
            }
            
            /*********** Firefox styles ***********/
            /* slider track */
            input[type="range"]::-moz-range-track {
                background-color: var(--antiColor);
                opacity: 1;
                border-radius: 5px;
                height: 5px;
            }
            
            /* slider thumb */
            input[type="range"]::-moz-range-thumb {
                appearance: none;
                margin-top: -4px; /* Centers thumb on the track */
                background-color: var(--highColor);
                border-radius: 7px;
                height: 15px;
                width: 15px;
                opacity: 1;
            }
            
            input[type="range"]:focus::-moz-range-thumb{
                outline: 3px solid var(--antiColor);
                outline-offset: 0.125rem;
            }

    }


    button{
        height: 50px;
        margin-top: 25px;
        padding-left: 15px;
        line-height: 15px;
        border: var(--antiColor) solid 2px;
        border-radius: 50px;
        background-color: var(--antiColor);
        color: var(--color);
        font-size: var(--textSize);
        font-family: 'Courier New', Courier, monospace; 
        &:hover{
            background-color: var(--color);
            color: var(--background);
            border: var(--background) solid 2px;
        }
    }
    .startButton{
        font-family: 'Courier New', Courier, monospace;
        color: var(--color);
    }

    .burger{
        div{
            filter: invert(0);
        }
    }
    .footerSect{
        div{
            div{
                filter: invert(0);
        }}
    }
    .navAuth{
        div{
            div{
                height: 100%;
                opacity: 0.7;
                filter: invert(0);
                border: 2px solid transparent; 
                &:hover{
                box-sizing: border-box;                
                border-bottom: var(--highColor) 2px solid;
                border-radius: 20px;
                cursor: pointer;
                }                
        }

    }
        font-family: 'Courier New', Courier, monospace;
    }

    .timerBox {
        justify-content: space-around;
        font-family: 'Courier New', Courier, monospace;
      .time{
        color: var(--color);
      }
    }

}
