.navFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  margin-top: 50px;
}
.navFlex .login {
  flex: 1 1 60px;
  height: 100%;
  background-image: url("./images/login.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
  border: 2p solid #000;
}
.navFlex .reg {
  flex: 1 1 60px;
  height: 100%;
  background-image: url("./images/reg.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
}