.oneWork {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 20px;
  box-sizing: border-box;
  &Info {
    flex: 1 0 200px;
  }
  &Timer {
    flex: 1 0 200px;
    font-size: 24px;
  }
  &Management {
    flex: 1 0 200px;
  }
  &Button {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
  }
}
